<div class="modal-header">
    <h3 class="modal-title">{{category}} ({{difficulty}})</h3>
    <!--<button ng-click="seedDefaultPlan()">Seed Default Plan</button>-->
</div>

<form novalidate class="simple-form" name="form">
    <div class="modal-body">
        <ul>
            <h2> {{question}} </h2>

            <img src={{sprite}}></br>
            <input type = "radio" ng-model = "answer" ng-value = "answers[0]">
            <span> {{answers[0]}} </span> </br>
            <input type = "radio" ng-model = "answer" ng-value = "answers[1]">
            <span> {{answers[1]}} </span> </br>
            <input type = "radio" ng-model = "answer" ng-value = "answers[2]">
            <span> {{answers[2]}} </span></br>
            <input type = "radio" ng-model = "answer" ng-value = "answers[3]">
            <span> {{answers[3]}} </span>

        </ul>
    </div>
    <div class="modal-footer">
        <input class="btn colored-btn" type="submit" ng-click="ok(answer)" ng-disabled="form.$invalid"></button>
        <button class="btn exit-btn" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>
